.button {
  all: unset;
  padding: 4px 8px;
  background-color: #00afb9;
  border-radius: 5px;
  cursor: pointer;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
