* {
	padding: 0;
	margin: 0;
}

h2 {
	text-align: center;
	margin-top: 30px;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 50px;
	justify-content: space-around;
}

button {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border: solid 1px black;
	border-radius: 4px;
}

button:focus:active {
	background-color: black;
	color: white;
}

.unique,
.bank-name,
.account-number,
.iban {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 300px;
	margin-bottom: 50px;
	background-color: transparent;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.unique p,
.bank-name p,
.account-number p,
.iban p {
	margin-top: 20px;
	font-style: italic;
	font-size: large;
	color: rgba(0, 0, 0, 0.4);
	margin-bottom: 30px;
}
