.navbar {
  background-color: #f2f2f2;
  padding: 1rem;
  color: #000;
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar ul li:first-of-type {
  display: flex;
}

.navbar ul li:last-of-type {
  color: navy;
  flex: 1;
  text-align: end;
}

.navbar ul li a {
  text-decoration: none;
  cursor: pointer;
  color: navy;
}
