.card {
  width: 200px;
  background: #f2f2f2;
  border: 1px solid #d6d6d6;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.card-image {
  background-color: white;
  text-align: center;

  img {
    height: 200px;
  }
}
.card-body {
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
}
.card-body-title {
  flex: 1 0 100%;
  font-size: 1rem;
  /* font-weight: ÷; */
}
.card-body-content {
  display: flex;
}

.card-price {
  flex: 1;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
